*.env
*.pyc
__pycache__/
/shared/.htpasswd
/traefik/traefik.toml
/traefik/rules.toml
/traefik/acme
/portainer/data
/jackett/Jackett
/sonarr
/radarr
/lidarr
/ombi
/organizr
/tautulli
/plexms
/mariadb
/nextcloud
/unifi
/pihole/etc-dnsmasq.d
/pihole/etc-pihole/**
!/pihole/etc-pihole/adlists.list
!/pihole/etc-pihole/whitelist.txt