*.env
*.pyc
__pycache__/

# Home Assistant HACS-managed custom components
homeassistant/custom_components/*
!homeassistant/custom_components/sonos_tts

# Home Assistant HACS-managed custom themes
homeassistant/themes

# Home Assistant HACS-managed custom UI components
homeassistant/www/community
homeassistant/www/custom-lovelace


/shared/.htpasswd
/traefik/traefik.toml
/traefik/rules.toml
/traefik/acme
/portainer/data
/jackett/Jackett
/sonarr
/radarr
/lidarr
/ombi
/organizr
/tautulli
/zoneminder
/plexms
/mariadb
/nextcloud
/unifi
/pihole/etc-dnsmasq.d
/pihole/etc-pihole/**
!/pihole/etc-pihole/adlists.list
!/pihole/etc-pihole/whitelist.txt
