home-assistant_v2.db
home-assistant.log

pyozw.sqlite
OZW_Log.txt

.shopping_list.json

bravia.conf
harmony_harmony_hub.conf

/.storage/auth_provider.homeassistant
/.storage/core.config_entries
/.storage/core.area_registry
/.storage/core.device_registry
/.storage/core.entity_registry
/.storage/core.restore_state
/.storage/frontend.user_data_*
