secrets.yaml
ip_bans.yaml
known_devices.yaml
wideq_state.json

home-assistant_v2.db
home-assistant.log

pyozw.sqlite
OZW_Log.txt

tts/

.shopping_list.json

.august.conf
.homeconnect-token-cache
.miele-token-cache

bravia.conf
harmony_harmony_hub.conf

/.storage/auth
/.storage/auth_provider.homeassistant
/.storage/core.config_entries
/.storage/core.area_registry
/.storage/core.device_registry
/.storage/core.entity_registry
/.storage/core.restore_state
/.storage/frontend.user_data_*
/.storage/person
