secrets.yaml
ip_bans.yaml
wideq_state.json

home-assistant_v2.db
home-assistant.log

pyozw.sqlite
OZW_Log.txt

tts/

.shopping_list.json

.ha_run.lock

# tokens
.whirlpool_auth.json
.google.token
.homeconnect-token-cache
.miele-token-cache

.august.conf
.pawel.troka@outlook.com.august.conf
bravia.conf
harmony_harmony_hub.conf

/core

/.storage/auth
/.storage/auth_provider.homeassistant
/.storage/cloud
/.storage/unifi_data
/.storage/core.config_entries
/.storage/core.area_registry
/.storage/core.device_registry
/.storage/core.entity_registry
/.storage/core.restore_state
/.storage/frontend.user_data_*
/.storage/person
