homeassistant:
  # Name of the location where Home Assistant is running
  name: TROKA.Software.SmartHome
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret home_elevation
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Warsaw
  external_url: !secret home_base_url
  internal_url: "http://10.10.10.94:8123"
  # Customization file
  customize: !include customize.yaml

# Configure a default setup of Home Assistant (frontend, api, etc)
config:
frontend:
  themes: !include_dir_merge_named themes
map:
mobile_app:
person:
ssdp:
zeroconf:
sun:
system_health:
updater:

logger:
  default: error

scene: !include scenes.yaml

# Enables support for tracking state changes over time
recorder: !include recorder.yaml
history: !include history.yaml
logbook: !include logbook.yaml

api:
discovery:
shopping_list:

http:
  base_url: !secret home_base_url
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.1.50
    - 127.0.0.1
    - 172.0.0.0/8
  #log reported ipv4
    - 162.158.159.139
    - 172.69.55.59
    - 141.101.76.195
    - 141.101.98.91
    - 141.101.99.102
    - 141.101.105.87
    - 141.101.105.99
  #cloudflare ipv4
    - 103.21.244.0/22
    - 103.22.200.0/22
    - 103.31.4.0/22
    - 104.16.0.0/13
    - 104.24.0.0/14
    - 108.162.192.0/18
    - 131.0.72.0/22
    - 141.101.64.0/18
    - 162.158.0.0/15
    - 172.64.0.0/13
    - 173.245.48.0/20
    - 188.114.96.0/20
    - 190.93.240.0/20
    - 197.234.240.0/22
    - 198.41.128.0/17
  #cloudflare ipv6
    - 2400:cb00::/32
    - 2606:4700::/32
    - 2803:f800::/32
    - 2405:b500::/32
    - 2405:8100::/32
    - 2a06:98c0::/29
    - 2c0f:f248::/32
  #ssl_certificate: /ssl/fullchain.pem
  #ssl_key: /ssl/privkey.pem

wake_on_lan:

# downloader for surveillance purposes
downloader:
  download_dir: /downloads/surveillance

#### Local integrations
tplink:
glances:
  - host: localhost
#transmission:
#  host: localhost
#  port: 8412
#  name: Transmission
#  username: !secret transmission_username
#  password: !secret transmission_password

### Cloud integrations:
#tuya:
#  username: !secret tuya_username
#  password: !secret tuya_password
#  country_code: 48
circadian_lighting:
  max_colortemp: 9000
ring:
  username: !secret ring_username
  password: !secret ring_password
miele:
  client_id: !secret miele_client_id
  client_secret: !secret miele_client_secret
  lang: en
home_connect:
  client_id: !secret homeconnect_client_id
  client_secret: !secret homeconnect_client_secret
eight_sleep:
  username: !secret eight_sleep_username
  password: !secret eight_sleep_password
tado:
  username: !secret tado_username
  password: !secret tado_password
netatmo:
  client_id: !secret netatmo_client_id
  client_secret: !secret netatmo_client_secret
nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret
xbox:
  client_id: !secret xbox_client_id
  client_secret: !secret xbox_client_secret
withings: !include withings.yaml

bmw_connected_drive:
  pawel:
    username: !secret bmw_username
    password: !secret bmw_password
    region: "rest_of_world"
telegram_bot:
  - platform: broadcast
    api_key: !secret telegram_api_key
    allowed_chat_ids:
      - !secret telegram_group_id
      - !secret telegram_my_id

### Voice Assistants integrations:
alexa: !include alexa.yaml
google_assistant: !include google_assistant.yaml

google:
  client_id: !secret google_client_id
  client_secret: !secret google_client_secret

### include section:
alert: !include alerts.yaml
input_text: !include input_text.yaml
sonos: !include sonos.yaml
input_boolean: !include input_boolean.yaml
zone: !include zone.yaml
notify: !include notify.yaml
climate: !include climate.yaml

switch: !include switch.yaml
camera: !include camera.yaml
device_tracker: !include device_tracker.yaml
media_player: !include media_player.yaml
light: !include light.yaml
lifx: !include lifx.yaml
weather: !include weather.yaml
binary_sensor: !include binary_sensor.yaml
sensor: !include sensor.yaml
air_quality: !include air_quality.yaml
tts: !include tts.yaml
group: !include groups.yaml
automation: !include_dir_merge_list automations/
script: !include_dir_merge_named scripts/
